:root {
  --layout-background-color: #F1F4F8;
  --layout-grey: #F1F4F8;
  --layout-white: #FFF;
  --layout-teal: #01CBBB;
  --layout-rollover: #DDE1E9;
  --layout-light-grey: #A3A8B3;
  --layout-dark-grey: #38414F;
  --layout-medium-grey: #646973;
  --layout-light: #E2E5ED;
  --layout-main-color: #0875FD;
}

$primary-color: #259df6;
$transition-time: 0.2s;
